.container {
    height: 100%;
    display: flex;
    background: #262522;
}

.play-area-container {
    overflow: auto;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.play-area {
    display: grid;
    width: min-content;
    outline: none;
}

.sidebar {
    margin-right: 3em;
    max-width: 350px;
}

#chat-box {
    height: 100vh;
    width: 25%;
    display: flex;
    justify-content: end;
    box-shadow: 2px 2px 20px rgb(0, 0, 0, 0.4);
}
