.container {
    min-height: 50vh;
    height: auto;
}

h2 {
    color: #3f51b5;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    margin-top: 10px;
    text-align: center;
}

#back {
    background-color: #cf000f;
    color: white;
}

.mat-raised-button {
    color: white;
    background-color: #1e81b0;
    width: 100%;
}