.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
#abandon {
    background-color: #cf000f;
    color: white;
}
body {
    background-color: bisque;
}

mat-card-title {
    text-align: center;
}