#easel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ba8c63;
}

.tile {
    display: block;
    border: 3px;
    background-color: burlywood;
    font-weight: 700;
    font-size: x-large;
    cursor: pointer;
}
.points {
    height: 29%;
    font-size: xx-small;
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding: 7%;
}
