<mat-card id="easel">
    <mat-card
        class="tile"
        (mousedown)="tileClicked(tile, $event)"
        *ngFor="let tile of tiles"
        [ngStyle]="{ 'background-color': tile.state === 1 ? 'red' : tile.state === 2 ? 'blue' : 'burlywood' }"
    >
        <div class="letter">
            {{ tile.tile.letter | uppercase }}
        </div>
        <div class="points">
            {{ tile.tile.points }}
        </div>
    </mat-card>
</mat-card>
<div class="exchange-buttons" *ngIf="exchangableTiles">
    <button mat-raised-button (click)="exchangeTiles()" [disabled]="this.players[0].name !== this.mainPlayerName || this.numTilesReserve < 7">
        Échanger
    </button>
    <button mat-raised-button>Annuler</button>
</div>
