<mat-card id="easel">
    <mat-card
        class="tile"
        [ngClass]="{
            selected: tile.state === 1,
            exchange: tile.state === 2
        }"
        (mousedown)="tileClicked(tile, $event)"
        *ngFor="let tile of tiles"
    >
        <div class="letter">{{ tile.letter | uppercase }}</div>
        <div class="points">{{ letterPoints.get(tile.letter) }}</div>
    </mat-card>
</mat-card>

<div class="exchange-buttons" *ngIf="exchangableTiles">
    <button
        mat-raised-button
        (click)="exchangeTiles()"
        [disabled]="this.players[0].name !== this.mainPlayerName || this.numTilesReserve < 7"
        class="validate"
    >
        Échanger
    </button>
    <button mat-raised-button (click)="resetTileState()">Annuler</button>
</div>
