<button mat-button (click)="addPlayer()" mat-flat-button color="primary">Add Row</button>

<mat-card>Noms des joueurs virtuels</mat-card>
<table mat-table [dataSource]="playerNames">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>

    <ng-container matColumnDef="difficulty">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let user">{{ user.difficulty === 0 ? 'Expert' : 'Beginner' }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="action-link">
            <button mat-raised-button id="action" class="button" (click)="editPlayerName(element)">Edit</button>
        </td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="action-link">
            <button mat-raised-button id="action" class="button" (click)="deletePlayerName(element)">Delete</button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<button mat-raised-button id="back" class="button" (click)="back()">Retour</button>
