<mat-card>Noms des joueurs virtuels</mat-card>
<table mat-table [dataSource]="playerNames">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>
    <ng-container matColumnDef="difficulty">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let user">{{ user.difficulty === 0 ? 'Expert' : 'Beginner' }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
<button mat-raised-button id="back" class="button" (click)="back()">Retour</button>
