<div class="container justified">
    <h1 class="header-item">Bienvenue au cours {{ title }}</h1>
    <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />
    <section id="server-message">
        <!-- <p>Petit message du serveur : {{ message.getValue() }}</p> -->
        <div class="justified">
            <button mat-raised-button class="button" (click)="startClassic()">Scrabble Classique</button>
            <button mat-raised-button class="button" (click)="startLOG()">Scrabble LOG2990</button>
            <button mat-raised-button class="button" routerLink="/material">Meilleurs Scores</button>
        </div>
    </section>
    <!--
    <button class="button" routerLink="/game">Jouer!</button>
    -->
    <div class="footer-item">
        <h4 class="team-name">Équipe Poly</h4>
        <p>
            <span>Khalil Beddouch</span>, <span>Abderrahim Laribi</span>, <span>Abderrahmane Grou</span>, <span>Abdelmouaiz Taha Ghodbane</span>,
            <span>Zine Abidine Oguad</span>, <span>Youssef Benjaafar</span>
        </p>
    </div>
</div>
