<div class="container justified">
    <!-- <h1>Scrabble</h1> -->
    <img src="../../../assets/logo.png" width="400" height="80" alt="Logo Scrabble" />
    <!-- https://bit.ly/3m206ss -->
    <section id="server-message">
        <!-- <p>Petit message du serveur : {{ message.getValue() }}</p> -->
        <div class="justified">
            <button class="game-button green-button" (click)="startClassic()">Scrabble Classique</button>
            <button class="game-button green-button" (click)="startLOG()">Scrabble LOG2990</button>
            <button class="game-button green-button" (click)="openRanks()">Meilleurs Scores</button>
        </div>
    </section>
</div>
