.container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #3f51b5;
}

.justified {
    align-items: center;
}

.button {
    margin-left: 10px;
    text-align: center;
}

.mat-raised-button {
    color: white;
    background-color: #76b947;
}

#back {
    background-color: #cf000f;
    color: white;
}
