<h1 mat-dialog-title>Entrez votre nom:</h1>
<form [formGroup]="joinForm">
    <mat-form-field hintLabel="Lettres seulement" appearance="outline">
        <mat-label>Nom d'utilisateur</mat-label>
        <input type="text" formControlName="name" pattern="[a-zA-Z]*" matInput />
        <mat-hint align="end">{{ this.joinForm.get('name')?.value?.length || 0 }}/20</mat-hint>
    </mat-form-field>
</form>
<button mat-raised-button id="back" class="button" (click)="back()">Retour</button>
<button mat-raised-button class="button" [disabled]="this.joinForm.get('name')?.value === this.data.host" (click)="joinLobby()">
    Rejoindre la salle
</button>
