<div class="container">
    <mat-card class="card">
        <mat-card-title > Timer : {{ this.timer }}</mat-card-title>
    </mat-card>

    <div *ngFor="let player of players; first as isFirst" >
        <mat-card [ngClass]="{ 'first' : isFirst }" class="card">
            <mat-card-title-group >
            <mat-card-title>{{ player.name }}</mat-card-title>
            <mat-card-subtitle>Score : {{ player.score }}</mat-card-subtitle>
            <mat-card-subtitle>Tiles : {{ player.easel.count }}</mat-card-subtitle>
            <div>
                <mat-icon *ngIf="player.name === this.realPlayerName">person</mat-icon>
            <img *ngIf="isFirst;else other_content" mat-card-sm-image src="../../../assets/profile-pic-first-brown.jpg" >
            <ng-template #other_content><img  mat-card-sm-image src="../../../assets/profile-pic.jpg" ></ng-template>
            </div>
            </mat-card-title-group>
        </mat-card>
    </div>

    <div>
        <mat-card class="card justified">
            <button mat-raised-button class="font-size-button">-</button>
            <span>(fSize) px</span>
            <button mat-raised-button class="font-size-button">+</button>
        </mat-card>
    </div>

    <div class="justified-right">
        <button mat-raised-button [disabled]="this.players[0].name !== this.realPlayerName" (click)= "skipTurn()">Passer le tour</button>
        <button mat-raised-button >Abandonner</button>
        <button mat-raised-button [routerLink]="['/home']" (click)="quit()">Quitter</button>
    </div>
</div>